extends ../layout

block content
  h1 Importer mes fichiers eshop-csv
  p.version test : valider mes fichiers
  hr
  .row
    .col-sm-6
      form.form-horizontal(action='/upload',enctype='multipart/form-data', method='POST')
        input(type='hidden', name='_csrf', value=_csrf)
        .form-group
          label(class='col-sm-2 control-label', for='name') Test name
          .col-sm-8
            input.form-control(type='text', name='name', id='name', autofocus=true)
        .form-group
          label(class='col-sm-2 control-label', for='marque') Marque
          .col-sm-8
            select.form-control(type='select', name='marque', id='marque')
              option(value="0") choisir ma marque
              option(value="testmarque") marqueTest1
              option(value="nafnaf") NafNaf
              option(value="bonton") Bonton
        .form-group
            label(class='col-sm-2 control-label', for='type') Le type de mon import
            .col-sm-8
              select.form-control(type='select', name='typeImprt', id='type')
                  option(value="0") choisir le type
                  option(value="base") produits de base
                  option(value="comp") complementaires produits
                  option(value="price") prix produits
        .form-group
            label(class='col-sm-2 control-label', for='csvfile') mon fichier
            .col-sm-8
              input.form-control(type='file', class='form-control-file', name='csvfile', id='csvfile')
        .form-group
          label(class='col-sm-2 control-label', for='message') mes remarques
          .col-sm-8
            textarea.form-control(name='message', id='message', rows='7')
        .form-group
          .col-sm-offset-2.col-sm-8
            button.btn.btn-primary(type='submit')
              i.fa.fa-envelope
              | Send
    .col-sm-6
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      p
        a.btn.btn-default(href='#', role='button') View details »
